body
{
  margin: 0;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height:100vh;
  background: url("../images/intro.jpg") center
  no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}

.intro__suptitle {
  font-family: 'Caveat', cursive;
  font-size: 60px;
  color: #fff;
  text-align: center;
}

.intro__title {
  color: #fff;
  font-size: 120px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}

.intro__title:after {
  content: "";
  display: block;
  width: 400px;
  height: 3px;
  margin: 60px auto;
  
  background-color: #fff;
  
}

.header {
  background-color: #11000a;
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index:1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.nav {
  font-size: 16px;
  font-weight: 500;
  text-transorm: uppercase;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;
  color: #fff;
  text-decoration: none;
  
  transition: color .2s linear;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
    
  background-color: #ffee91;
  opacity: 0;
  
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .2s linear;
}

.nav__link:hover {
  color: #ffee91;
}

.nav__link:hover:after {
  opacity: 1;
}

.container__button {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.btn {
  display: block;
  vertical-align: top;
  padding: 8px 30px;
  
  border: 3px solid #fff;
  
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background .2s linear, color .2s linear;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

.section {
  padding: 75px 0px 75px;
}
.section__color {
  background-color: #b2f6e5;
  padding: 75px 0px 75px;
}

.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 40px;
  
  text-align:center;
}

.section__suptitle {
  font-family: 'Caveat', cursive;
  font-size: 25px;
  color: #333;
}

.section__title {
  font-size: 30px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.section__title:after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin: 30px auto;
  
  background-color: #f38181;
}

.section__text {
  font-size: 20px;
  color: #606060;
}

.app {
  align: center;
}

.interface {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 40px;
}

.interface_item {
  width: 15%;
}

.btn__download {
  display: block;
  vertical-align: top;
  padding: 8px 30px;
  
  border: 3px solid #000;
  
  font-size: 14px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background .2s linear, color .2s linear, border .2s linear;;
}

.btn__download:hover {
  background-color: #5cc45e;
  color: #fff;
  border: 3px solid #fff;
}

.wrapper {
  position: relative;;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #000;
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #000;
  margin-top: 13px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}


/* media queries */

@media screen and (max-width: 640px){
  .wrapper {
      width: 350px;
  }
  .wrapper ul li{
      margin-top: 10px;
  }
  .wrapper ul li.google{
      margin-left: 60px;
  }
}


@media screen and (max-width: 340px){
  .wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }
  .wrapper ul li.google{
      margin-left: 15px;
  }
}
