body
{
  margin: 0;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height:100vh;
  background: url("../images/intro.jpg") center
  no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}

.intro__suptitle {
  font-family: 'Caveat', cursive;
  font-size: 60px;
  color: #fff;
  text-align: center;
}

.intro__title {
  color: #fff;
  font-size: 120px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}

.intro__title:after {
  content: "";
  display: block;
  width: 400px;
  height: 3px;
  margin: 60px auto;
  
  background-color: #fff;
  
}

.header {
  background-color: #11000a;
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index:1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.nav {
  font-size: 16px;
  font-weight: 500;
  text-transorm: uppercase;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;
  color: #fff;
  text-decoration: none;
  
  transition: color .2s linear;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
    
  background-color: #ffee91;
  opacity: 0;
  
  posotion: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .2s linear;
}

.nav__link:hover {
  color: #ffee91;
}

.nav__link:hover:after {
  opacity: 1;
}

.container__button {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.btn {
  display: block;
  vertical-align: top;
  padding: 8px 30px;
  
  border: 3px solid #fff;
  
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background .2s linear, color .2s linear;
}

.btn:hover {
  background-color: #fff;
  color: #333
}

.section {
  padding: 80px 0;
}
.section__color {
  background-color: #b2f6e5;
  padding: 80px 0;
}

.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 40px;
  
  text-align:center;
}

.section__suptitle {
  font-family: 'Caveat', cursive;
  font-size: 25px;
  color: #333;
}

.section__title {
  font-size: 30px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.section__title:after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin: 30px auto;
  
  background-color: #f38181;
}

.section__text {
  font-size: 20px;
  color: #999;
}

.app {
  align: center;
}
