body
{
  margin: 0;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 1.7;
  
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
